<a href="https://colab.research.google.com/github/ilesanmi-code/LinkedIn-Jobs-for-Africa/blob/main/Linkedin_Jobs_Africa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving linkedin-jobs-africa.csv to linkedin-jobs-africa (1).csv

In [ ]:
import io
df = pd.read_csv(io.BytesIO(uploaded['linkedin-jobs-africa.csv']))
# Dataset is now stored in a Pandas Dataframe

In [ ]:
df.head()

,title,company,description,onsite_remote,salary,location,criteria,posted_date,link
0,Data Analyst,NNC,We are looking for a passionate certified Data...,onsite,NaN,"Cairo, Cairo, Egypt","[{'مستوى الأقدمية': 'غير مطبق'}, {'نوع التوظيف...",2022-11-18,https://eg.linkedin.com/jobs/view/data-analyst...
1,Data Analyst,Watu Credit,"WATU is a focus-driven, customer-centric compa...",onsite,NaN,"Nairobi County, Kenya","[{'Seniority level': 'Associate'}, {'Employmen...",2022-11-01,https://ke.linkedin.com/jobs/view/data-analyst...
2,Data Analyst (Credit Risk),Kuda,Kuda is a fintech on a mission to make financi...,onsite,NaN,"Cape Town, Western Cape, South Africa","[{'Seniority level': 'Not Applicable'}, {'Empl...",2022-11-21,https://za.linkedin.com/jobs/view/data-analyst...
3,Data Analyst,Watu Credit,Role: Data AnalystReporting to: Data Analytics...,onsite,NaN,"Nairobi, Nairobi County, Kenya","[{'Seniority level': 'Mid-Senior level'}, {'Em...",2022-11-01,https://ke.linkedin.com/jobs/view/data-analyst...
4,Data Analyst,Tata Consultancy Services,About Tata Consultancy ServicesTata Consultanc...,onsite,NaN,"City of Johannesburg, Gauteng, South Africa","[{'Seniority level': 'Mid-Senior level'}, {'Em...",2022-10-27,https://za.linkedin.com/jobs/view/data-analyst...

In [ ]:
df.shape

(2872, 9)

In [67]:
df.columns

Index(['title', 'company', 'description', 'onsite_remote', 'salary',
       'location', 'criteria', 'posted_date', 'link', 'seniority level',
       'employment_status', 'industries', 'job_function', 'index'],
      dtype='object')

In [68]:
#from google.colab.output import eval_js
criteria_dict = df['criteria'].to_dict()
Job_function = [None] * len(criteria_dict)
Employment_status = [None] * len(criteria_dict)
Seniority_level = [None] * len(criteria_dict)
Industries = [None] * len(criteria_dict)


for i in criteria_dict:
  real_criteria_dict = eval(criteria_dict[i])

  S_level = list(map(lambda x:'Seniority level' in x.keys(), real_criteria_dict))
  E_status = list(map(lambda x:'Employment type' in x.keys(), real_criteria_dict))
  I_stries = list(map(lambda x:'Industries' in x.keys(), real_criteria_dict))
  J_func = list(map(lambda x:'Job function' in x.keys(), real_criteria_dict))

  if True in S_level:
    Seniority_level[i] = real_criteria_dict[S_level.index(True)]['Seniority level']
    #Seniority_level.append(S_level)
  if True in J_func:
    Job_function[i] = real_criteria_dict[J_func.index(True)]['Job function'] 
  if True in E_status:
    Employment_status[i] = real_criteria_dict[E_status.index(True)]['Employment type'] 
  if True in I_stries:
    Industries[i] = real_criteria_dict[I_stries.index(True)]['Industries']

In [69]:
df['seniority level'] = Seniority_level
df['employment_status'] = Employment_status
df['industries'] = Industries
df['job_function'] = Job_function
df['ID'] = df.index

In [70]:
df.head()

,title,company,description,onsite_remote,salary,location,criteria,posted_date,link,seniority level,employment_status,industries,job_function,index,ID
0,Data Analyst,NNC,We are looking for a passionate certified Data...,onsite,NaN,"Cairo, Cairo, Egypt","[{'مستوى الأقدمية': 'غير مطبق'}, {'نوع التوظيف...",2022-11-18,https://eg.linkedin.com/jobs/view/data-analyst...,None,None,None,None,0,0
1,Data Analyst,Watu Credit,"WATU is a focus-driven, customer-centric compa...",onsite,NaN,"Nairobi County, Kenya","[{'Seniority level': 'Associate'}, {'Employmen...",2022-11-01,https://ke.linkedin.com/jobs/view/data-analyst...,Associate,Full-time,Financial Services,Analyst,1,1
2,Data Analyst (Credit Risk),Kuda,Kuda is a fintech on a mission to make financi...,onsite,NaN,"Cape Town, Western Cape, South Africa","[{'Seniority level': 'Not Applicable'}, {'Empl...",2022-11-21,https://za.linkedin.com/jobs/view/data-analyst...,Not Applicable,Full-time,"Technology, Information and Internet",Analyst,2,2
3,Data Analyst,Watu Credit,Role: Data AnalystReporting to: Data Analytics...,onsite,NaN,"Nairobi, Nairobi County, Kenya","[{'Seniority level': 'Mid-Senior level'}, {'Em...",2022-11-01,https://ke.linkedin.com/jobs/view/data-analyst...,Mid-Senior level,Full-time,Financial Services,Information Technology,3,3
4,Data Analyst,Tata Consultancy Services,About Tata Consultancy ServicesTata Consultanc...,onsite,NaN,"City of Johannesburg, Gauteng, South Africa","[{'Seniority level': 'Mid-Senior level'}, {'Em...",2022-10-27,https://za.linkedin.com/jobs/view/data-analyst...,Mid-Senior level,Contract,IT Services and IT Consulting and Wellness and...,Information Technology,4,4

In [71]:
indus = [df.industries]
zzz = pd.DataFrame(indus, index = ['industries'])
zz = zzz.T
zz['ID'] = zz.index
zz.head()

                                          industries  ID
0                                               None   0
1                                 Financial Services   1
2               Technology, Information and Internet   2
3                                 Financial Services   3
4  IT Services and IT Consulting and Wellness and...   4

In [74]:
df.head()

,title,company,description,onsite_remote,salary,location,criteria,posted_date,link,seniority level,employment_status,industries,job_function,index,ID
0,Data Analyst,NNC,We are looking for a passionate certified Data...,onsite,NaN,"Cairo, Cairo, Egypt","[{'مستوى الأقدمية': 'غير مطبق'}, {'نوع التوظيف...",2022-11-18,https://eg.linkedin.com/jobs/view/data-analyst...,None,None,None,None,0,0
1,Data Analyst,Watu Credit,"WATU is a focus-driven, customer-centric compa...",onsite,NaN,"Nairobi County, Kenya","[{'Seniority level': 'Associate'}, {'Employmen...",2022-11-01,https://ke.linkedin.com/jobs/view/data-analyst...,Associate,Full-time,Financial Services,Analyst,1,1
2,Data Analyst (Credit Risk),Kuda,Kuda is a fintech on a mission to make financi...,onsite,NaN,"Cape Town, Western Cape, South Africa","[{'Seniority level': 'Not Applicable'}, {'Empl...",2022-11-21,https://za.linkedin.com/jobs/view/data-analyst...,Not Applicable,Full-time,"Technology, Information and Internet",Analyst,2,2
3,Data Analyst,Watu Credit,Role: Data AnalystReporting to: Data Analytics...,onsite,NaN,"Nairobi, Nairobi County, Kenya","[{'Seniority level': 'Mid-Senior level'}, {'Em...",2022-11-01,https://ke.linkedin.com/jobs/view/data-analyst...,Mid-Senior level,Full-time,Financial Services,Information Technology,3,3
4,Data Analyst,Tata Consultancy Services,About Tata Consultancy ServicesTata Consultanc...,onsite,NaN,"City of Johannesburg, Gauteng, South Africa","[{'Seniority level': 'Mid-Senior level'}, {'Em...",2022-10-27,https://za.linkedin.com/jobs/view/data-analyst...,Mid-Senior level,Contract,IT Services and IT Consulting and Wellness and...,Information Technology,4,4

In [91]:
  
# Create a new dataframe to store the industries for each ID
industries_df = pd.DataFrame(columns=['index', 'Industry'])

for index, row in df.iterrows():
    ID = row['ID']
    industries = row['industries']
    # check if the industries column is None
    if pd.isna(industries) or industries == 'None':
        industries_df = industries_df.append({'ID': ID, 'Industry': None}, ignore_index=True)
    else:
        # Replace 'and' with ','
        industries = industries.replace('and', ',')
        if ',' in industries:
            # Iterate over the industries in the list
            for industry in industries.split(','):
                # Append a new row to the industries_df with the ID and industry
                industries_df = industries_df.append({'ID': ID, 'Industry': industry.strip()}, ignore_index=True)
        else:
            # Append a new row to the industries_df with the ID and industry
            industries_df = industries_df.append({'ID': ID, 'Industry': industries}, ignore_index=True)


# merge the industries_df with the original dataframe
df_new = pd.merge(df, industries_df, on='ID', how='left')

In [94]:
# drop the original Industry column
df_new.drop(columns=['industries', 'criteria','index_x', 'index_y', 'ID'], inplace=True)

In [95]:
df_new.head()

,title,company,description,onsite_remote,salary,location,posted_date,link,seniority level,employment_status,job_function,Industry
0,Data Analyst,NNC,We are looking for a passionate certified Data...,onsite,NaN,"Cairo, Cairo, Egypt",2022-11-18,https://eg.linkedin.com/jobs/view/data-analyst...,None,None,None,NaN
1,Data Analyst,Watu Credit,"WATU is a focus-driven, customer-centric compa...",onsite,NaN,"Nairobi County, Kenya",2022-11-01,https://ke.linkedin.com/jobs/view/data-analyst...,Associate,Full-time,Analyst,Financial Services
2,Data Analyst (Credit Risk),Kuda,Kuda is a fintech on a mission to make financi...,onsite,NaN,"Cape Town, Western Cape, South Africa",2022-11-21,https://za.linkedin.com/jobs/view/data-analyst...,Not Applicable,Full-time,Analyst,Technology
3,Data Analyst (Credit Risk),Kuda,Kuda is a fintech on a mission to make financi...,onsite,NaN,"Cape Town, Western Cape, South Africa",2022-11-21,https://za.linkedin.com/jobs/view/data-analyst...,Not Applicable,Full-time,Analyst,Information
4,Data Analyst (Credit Risk),Kuda,Kuda is a fintech on a mission to make financi...,onsite,NaN,"Cape Town, Western Cape, South Africa",2022-11-21,https://za.linkedin.com/jobs/view/data-analyst...,Not Applicable,Full-time,Analyst,Internet

In [96]:
df_new.shape

(5509, 12)

In [100]:
df_new['Country'] = df['location'].apply(lambda x: x.split(',')[-1].strip())
df_new.drop(columns='location', inplace=True)

In [101]:
df_new.head()

,title,company,description,onsite_remote,salary,posted_date,link,seniority level,employment_status,job_function,Industry,Country
0,Data Analyst,NNC,We are looking for a passionate certified Data...,onsite,NaN,2022-11-18,https://eg.linkedin.com/jobs/view/data-analyst...,None,None,None,NaN,Egypt
1,Data Analyst,Watu Credit,"WATU is a focus-driven, customer-centric compa...",onsite,NaN,2022-11-01,https://ke.linkedin.com/jobs/view/data-analyst...,Associate,Full-time,Analyst,Financial Services,Kenya
2,Data Analyst (Credit Risk),Kuda,Kuda is a fintech on a mission to make financi...,onsite,NaN,2022-11-21,https://za.linkedin.com/jobs/view/data-analyst...,Not Applicable,Full-time,Analyst,Technology,South Africa
3,Data Analyst (Credit Risk),Kuda,Kuda is a fintech on a mission to make financi...,onsite,NaN,2022-11-21,https://za.linkedin.com/jobs/view/data-analyst...,Not Applicable,Full-time,Analyst,Information,Kenya
4,Data Analyst (Credit Risk),Kuda,Kuda is a fintech on a mission to make financi...,onsite,NaN,2022-11-21,https://za.linkedin.com/jobs/view/data-analyst...,Not Applicable,Full-time,Analyst,Internet,South Africa

In [102]:
from google.colab import files

df_new.to_csv('linkedin_africa_jobs.csv', index=False)
files.download('linkedin_africa_jobs.csv')